* {
    box-sizing: border-box;
}

@font-face {
    font-family: Font;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

:root {
 
}

.image-wrapper {
    width: 700px;
    height: 100vh;
}

.img {
    max-width: 100%;
    height: auto;
    
}